body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ecf0f5;
}

.sec1{
    margin-top: 100px;
    min-height: 300px;
}

.sec2{
    margin-top: 100px;
    min-height: 450px;
    background-color: #fff;
}

.sec3{
    margin-top: 80px;
    min-height: 500px;
}

footer {
    min-height: 150px;
    background-color: #fff;
}
